################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CircuitBreakerExperiment/bin/Debug
/CircuitBreakerExperiment/obj/Debug
/TestHarness/bin/Debug
/TestHarness/obj/Debug
